body {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: rgb(125, 68, 68);
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 25px;
  background-color: rgba(174, 115, 174, 0.8);
}

.nav-bars {
    padding: 10px;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }

.back-ground-img {
  width: 100%;
  height: 900px;
  margin-bottom: 25px;
  background-image: url("../images/coding.jpg");
  background-size: cover;
  background-position: center;
}
